# Let's exclude everything
/*

#GLOBAL STYLE & terminal
!/README.md
!/.Xresources
!/.xinitrc

#MINDBLOWIND TRICKS
!/.config
/.config/*
!/.gitignore

#Let's add some cool stuff
!/.config/compton.conf
!/.config/i3/
!/.config/neofetch/
!/.config/polybar/
!/.config/rofi/
!/.config/ranger/
!/.config/install.sh

#DEV Stuff
!/.config/nvim/

